/* home page */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.tooltip {
  position: fixed;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.page-loading {
  height: auto;
  display: block;
  margin: 0 auto;
  width: 50px;
  position: relative;
  top: 50%;
}
.logo,
.loginInfo {
  color: #fff;
  font-size: 34px;
  position: relative;
  top: 10px;
}
.loginInfo {
  font-size: 15px;
  float: right;
  top: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.logout {
  margin-left: 30px;
  cursor: pointer;
}
.login-header {
  top: 0;
  left: 0;
  background-color: #337ab7;
  border-bottom: 1px solid #3b5998;
  padding-bottom: 15px;
}
.login-header .row {
  margin-top: 5px;
}
.signUp-form {
  position: relative;
  top: 10px;
}
.signUp-form label {
  color: #fff;
  font-weight: normal;
}
.signUp-form tr td {
  padding-right: 10px;
}
.signUp-form tr td label {
  margin-bottom: 0;
}
.signUp-form .login input {
  border-color: #3b5998;
}
#forgot-pass {
  cursor: pointer;
  color: #fff;
}
#menu-toggle,
#sidebar-wrapper {
  top: 0;
}
/* About us */
.aboutus {
  background: url(../images/Aboutus.png) no-repeat center center scroll;
}
.aboutus .content {
  text-align: center;
  color: #fff;
  top: 190px;
}
.aboutus .content .heading {
  font-weight: 600;
}
.aboutus .content .sub-content {
  font-size: 22px;
}
/* Sign Up Page */
.disclaimer {
  font-size: 11px;
}
.loading-small {
  width: 20px;
  height: auto;
  margin-left: 10px;
}
.error {
  color: #a94442;
}
#post,
#topPost {
  overflow: hidden;
  padding-bottom: 20px;
}
/* Post Page */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  padding-left: 0;
  margin: 30px 50px 0 30px;
  min-height: 170px;
}
.card .post-description {
  padding: 20px;
}
.card .post-description .title {
  font-size: 20px;
  font-weight: 500;
}
.card .post-like .comments {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.post-image {
  padding: 0;
}
.post-image img {
  height: 150px;
  width: auto;
}
#post .container {
  margin-top: 10px;
}
.truncate {
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postInput {
  margin-top: 10px;
}
.postInput .addPost {
  position: relative;
  float: right;
  top: 5px;
}
