{{#each post}}
        <div class="col-md-5 card">
            <div class="row">
                 <div class="col-md-6 col-sm-4 post-image">
                  <img src="../images/portfolio-2.jpg" class="img-responsive" alt="Avatar">
                </div>
                 <div class="col-md-6 col-sm-8 post-description">
                    <p class="truncate title" data-toggle="tooltip" title="{{this.title}}">{{this.title}}</p>
                    <p class="truncate" data-toggle="tooltip" title="{{this.description}}">{{this.description}}</p> 
                     <div class="post-like">
                     <ul class="comments list-unstyled">
                         <li class="likes-count">Likes: 13</li>
                         <li>&nbsp;|&nbsp;</li>
                         <li class="comments-count">Comments: 1</li>
                    </ul>
                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>   
        </div>
{{/each}}