<div class="ngdialog-message">
    <div>
        <h3>{{this.message}}</h3>
    </div>
    <div>
        <p>{{this.responseMessage}}</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>OK</button>
    </div>