/* home page */
@signup-color: #337ab7;
@signup-border-color: #3b5998;
@color: #fff;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.tooltip{
     position: fixed;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.page-loading {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 50px;
    position: relative;
    top: 50%;
}

.logo, .loginInfo {
    color: @color;
    font-size: 34px;
    position: relative;
    top: 10px;
}

.loginInfo {
    font-size: 15px;
    float: right;
    top: 13px;
    display: inline-flex;
}

.logout {
    margin-left: 30px;
    cursor: pointer;
}

.login-header {
    top: 0;
    left: 0;
    background-color: @signup-color;
    border-bottom: 1px solid @signup-border-color;
    padding-bottom: 15px;
    .row{
        margin-top: 5px;
    }
}

.signUp-form{
    position: relative;
    top: 10px;
    
    label{
        color: @color;
        font-weight: normal;
    }
    
    tr td{
        padding-right: 10px;
    }
    tr td label{
         margin-bottom: 0;
    }
    .login input{
    border-color: @signup-border-color;
    }
}

#forgot-pass{
    cursor: pointer;
    color: @color;
}

#menu-toggle, #sidebar-wrapper{
    top: 0;
}

/* About us */
.aboutus {
    background: url(../images/Aboutus.png) no-repeat center center scroll;

    .content{
        text-align: center;
        color: #fff;
        top: 190px;
    

        .heading{
            font-weight: 600;
        }
        .sub-content{
            font-size: 22px;
        }
    }
}

/* Sign Up Page */
.disclaimer {
    font-size: 11px;
}

.loading-small {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.error {
    color: #a94442;
}

#post, #topPost {
    overflow: hidden;
padding-bottom: 20px;
}

/* Post Page */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    padding-left: 0;
    margin: 30px 50px 0 30px;
    min-height: 170px;
    .post-description {
        padding: 20px 0 20px 20px;
        text-align: left;
        min-width: inherit;
            .title {    
                font-size: 20px;
                font-weight: 500;
            }
        .row {
            margin-left:0;
            padding: 0;
        }
        .titlebox, .postCustomizebox {
            float: left;
        }
        .titlebox {
            width: 90%;
            padding-right: 2px;
        }
        .postCustomizebox {
            cursor: pointer;
            .glyphicon-trash {
                padding-right: 10px;
            }
        }
    }
        .post-like {
            .comments {
                    display: inline-flex;
            }
        }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-image {
   padding:0 20px 0 0;
    float: left;
    img{
        max-height: 170px;
        width:auto;
    }
}

#post .container {
    margin-top: 10px;
}

#addPost {
    margin-right: 24px;
}
.postInput {
    margin-top: 10px;
    
    .addPost{
        position: relative;
        float: right;
        top:5px;
    }
}