@signup-color: #337ab7;
@signup-border-color: #3b5998;

.login-header {
    top: 0;
    left: 0;
    height: 85px;
    background-color: @signup-color;
    border-bottom: 1px solid @signup-border-color;
    .row{
        margin-top: 5px;
    }
    }

.signUp-form{
    
    label{
        color: #fff;
        font-weight: normal;
    }
    
    tr td{
        padding-right: 10px;
    }
    tr td label{
         margin-bottom: 0;
    }
    .login input{
             background-color: @signup-color;
    border-color: @signup-border-color;
    }
}

#menu-toggle, #sidebar-wrapper{
    top: 0;
}